*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
    scroll-behavior:smooth;
}

body{
    background:#0f172a;
    color:white;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
    background:#111827;
    position:sticky;
    top:0;
}

.logo{
    color:#38bdf8;
}

nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    text-decoration:none;
    color:white;
}

nav ul li a:hover{
    color:#38bdf8;
}

.hero{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero h1{
    font-size:60px;
    margin-bottom:10px;
}

.hero h3{
    color:#38bdf8;
    margin-bottom:20px;
}

.btn{
    text-decoration:none;
    color:white;
    background:#38bdf8;
    padding:12px 25px;
    border-radius:8px;
}

section{
    padding:80px 10%;
}

section h2{
    color:#38bdf8;
    margin-bottom:20px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
    gap:20px;
}

.card{
    background:#1e293b;
    padding:20px;
    text-align:center;
    border-radius:10px;
}

.project-card{
    background:#1e293b;
    padding:20px;
    border-radius:10px;
    margin-bottom:20px;
}

footer{
    text-align:center;
    padding:20px;
    background:#111827;
}

#contact p{
    margin-bottom:10px;
}
